# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (for loops)</i>

1) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
2) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
 
3) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>
4) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br> 
5) List Comprehensions <br>
6) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>

### For Loops

In [11]:
# for keyword, counter/iterator (descriptive), in keyword, object

name = 'Jeremy'
#way 1 is soley going through by value

for char in name:
    print(char)
    
#way 2 is looping by index utilizing range & len

print('\n')
      
name_len = len(name)
print(name_len)

print(list(range(name_len)))

print('\n')

for i in range(len(name)):
    print(i, name[i])

#way 3 is looping by index AND value by using enumerate()

print('\n')

for i in enumerate(name):
    print(i, char)

J
e
r
e
m
y


6
[0, 1, 2, 3, 4, 5]


0 J
1 e
2 r
3 e
4 m
5 y


(0, 'J') y
(1, 'e') y
(2, 'r') y
(3, 'e') y
(4, 'm') y
(5, 'y') y

##### Using 'in' keyword

In [14]:
#in is what accesses the items in an iterable

name = 'Jeremy'

if 'e' in name:
    print('e is here')

for char in name:
    print(char)

for char in name:
    if char == 'e':
        print('e is def here')

e is here
J
e
r
e
m
y
e is def here
e is def here

##### Continue Statement

In [15]:
#continue will skip an item based on a conditional

for i in range(20):
    if i == 5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [17]:
#break will stop our loop all together

for i in range(20):
    if i == 5:
        break
    print(i) #does not print 5 here because below break

for i in range(20):
    print(i) #prints 5 here because above break
    if i == 5:
        break

0
1
2
3
4
0
1
2
3
4
5

##### Pass Statement

In [21]:
# mostly used as a placeholder, and will continue on same iteration

for i in range(20):
    pass #placeholder to continue code

print('hello')
def my_func():
    pass

print('hello again')

hello
hello again

##### Double For Loops

In [29]:

for i in range(5):
    for j in range(5):
        print(f"i = {i}, j = {j}")

#for char in name:
    #for char2 in name:
        #print(char, char2)
        #print('\n')

i = 0, j = 0
i = 0, j = 1
i = 0, j = 2
i = 0, j = 3
i = 0, j = 4
i = 1, j = 0
i = 1, j = 1
i = 1, j = 2
i = 1, j = 3
i = 1, j = 4
i = 2, j = 0
i = 2, j = 1
i = 2, j = 2
i = 2, j = 3
i = 2, j = 4
i = 3, j = 0
i = 3, j = 1
i = 3, j = 2
i = 3, j = 3
i = 3, j = 4
i = 4, j = 0
i = 4, j = 1
i = 4, j = 2
i = 4, j = 3
i = 4, j = 4

### While Loops

In [28]:
#while keyword, condition statement
#while loop will run based on the condition statement

counter = 0

while counter < 5: # this will keep running while our condition is TRUE
    print(counter)
    counter += 1

0
1
2
3
4

##### looping 'While True'

In [35]:
# true as a condition for while loop to run
game_over = True # a flag

#while True: #standard way of writing while loops, essentially will keep running until we hit a break statment
    #print("infinite Loop")
    #if game_over == False:
        #break

In [38]:
game_over = False
my_list = [1,2,3,4,5]
index = 0

while True:
    if my_list[index] == 5:
        break
    print(my_list[index])
    index += 1

while True:
    print(my_list[index])
    if my_list[index] == 5:
        break
   
    index += 1

1
2
3
4
5

##### While & For Loops Used Together

In [41]:
i = 0

while i < 10:
    
    print(f'\n While Loop Iteration: {i}')

    for j in range(3):
        print(f"For Loop Iteration: {j}")

    i += 1

 While Loop Iteration: 0
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 1
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 2
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 3
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 4
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 5
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 6
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 7
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 8
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

 While Loop Iteration: 9
For Loop Iteration: 0
For Loop Iteration: 1
For Loop Iteration: 2

In [43]:
my_list = [] #declare an empty list
value = 1

while len(my_list) < 3: #ex;licitly stating the condition we want while loop to keep giong until

    my_list.append(value)
    value += 1

print(my_list)

[1, 2, 3]

##### The Range Function

In [46]:
# range(start, stop, step) - stop is required and start defaults to 0 if none is given

#just giving it 1 argument

for i in range(5): # assuming argument is the stop, start at 0, step by 1
    print(i)

#giving it 2 arguments:

print('\n')
for i in range(1,5): #assuming first argument is the start, second is the stop
    print(i)

#giving it 3 arguments:
print('\n')
for i in range(1,5,2): #first argument is start, second is stop, thrird is step
    print(i)

0
1
2
3
4


1
2
3
4


1
3

### String Manipulation Exercise

In [64]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration
# Loop through the names list, remove white space and capitalize the first letter of each name. Print each new name.

#.title for capital, .string for whitespace removal

for names in names:
    print(names.title().strip())

Connor
Max
Evan
Jordan

## Lists

##### Declaring Lists

In [67]:
#declare an empty list we will use square brackets []

our_list = [] # empty list declared


#lists are mutable (we can mutate it) objects vs strings are immmutable (can't mutate it) objects
names = ['Alex', 'Leza', 'Luis', 'Matthew']
numbers = [0,1,2,3,4]         #can also use 'numbers' here instead of [0,1,2,3,4] assuming they are the same list
things = ['Alex', 0, 'Leza', [0,1,2,3,4]] 

print(names)
print(numbers)
print(things)

print(our_list)

['Alex', 'Leza', 'Luis', 'Matthew']
[0, 1, 2, 3, 4]
['Alex', 0, 'Leza', [0, 1, 2, 3, 4]]
[]

##### Indexing a List

In [78]:
# [start: stop: step] --> last item [-1]

#indexing is just with 1 value
#slicing utilizes the colon and a start, stop, step.

#declaring and indexing into lists is always going to be square brackets. Indexing in general []
#         0        1      2        3  (index value)
names = ['Alex', 'Leza', 'Luis', 'Matthew']

#index by 1 argument
print(names[1])

# start with 1 argument and a colon :

print(names[1:]) #these still have brackets. making a new list
print(names[:1])

cool_kids = names[1:]
print(cool_kids)

# 2 values and the colon :

print(names[1:3])

print('\n')
print(names[1::2]) #steps by 2 to Matthew

#we can always go backwards

print(names[1][::-1])

Leza
['Leza', 'Luis', 'Matthew']
['Alex']
['Leza', 'Luis', 'Matthew']
['Leza', 'Luis']


['Leza', 'Matthew']
azeL

In [89]:
names = ['Alex', 'Leza', 'Luis', 'Matthew']
numbers = [0,1,2,3,4]         #can also use 'numbers' here instead of [0,1,2,3,4] assuming they are the same list
things = ['Alex', 0, 'Leza', [0,1,2,3,4]] 

#print the # 3 utilitzing our things list

print(things[3][-2:2:-1])

[3]

### List Methods

##### .append()

In [92]:
names = ["Ryan", "Tenzin", "Austin", "Dylan", "Mohammad"]

print(names)
names.append('Alex')
print(names)
names.append('Matthew')
print(names)
names.append(2)
print(names)

['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Matthew']
['Ryan', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Matthew', 2]

##### .insert()

In [93]:
#our_list.insert(index, value)

names.insert(1, 'Leza')
print(names)

['Ryan', 'Leza', 'Tenzin', 'Austin', 'Dylan', 'Mohammad', 'Alex', 'Matthew', 2]

##### .pop()

In [96]:
# default is the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it into a variable

#bye_name = names.pop()
#print(bye_name)
#print(names)

#utilize pop at a given index

names = ['Jason', 'Luis', 'Devante', 'Priscilla']
bye_names = names.pop(2) #returns a value
print(bye_names)

Devante

##### .remove()

In [196]:
# value to be removed, not an index

#names = ['Jason', 'Luis', 'Devante', 'Priscilla']
#bye_names = names.remove('Devante') #DOES NOT return a value
#print(names)

names = ['Bob', 'Jason', 'Bob', 'Bob', 'Leza']

#names.remove('Bob')
#print(names)

for name in names:
    if name == 'Bob':
        names.remove(name)

print(names)

while 'Bob' in names:
    names.remove('Bob')

print(names)

['Jason', 'Bob', 'Leza']
['Jason', 'Leza']

### Working With Lists

##### del()

In [109]:
# index to be removed, not value 
# be careful with del, can cause indexign error (proceed with caution when shifting lists)

names = ['Jason', 'Luis', 'Devante', 'Priscilla']
print(names)

del(names[0])
print(names)

del names[0]
print(names)

['Jason', 'Luis', 'Devante', 'Priscilla']
['Luis', 'Devante', 'Priscilla']
['Devante', 'Priscilla']

In [110]:
print(names.index('Devante'))

0

##### min()

In [114]:
# return the smallest item in a list

numbers = [3,1,6,5,10,-2]

print(min(numbers))

names = ['Brendan', 'Jeremy', 'Jason', 'Nico']
print(min(names))
#or                            Ja first vs Je in Jeremy
names = ['brendan', 'Jeremy', 'Jason', 'Nico']
print(min(names))

print('\n')

print(min(names, key=len)) #returns smallest (names in this case) value

-2
Brendan
Jason


Nico

##### max()

In [117]:
# returns largest item in a list

print(max(names))

print(max(names, key=len))

brendan
brendan

##### sum()

In [121]:
# return the sum of all numbers in a list

print(sum(numbers))

print(sum(names)) #no numbers here

23

TypeError: unsupported operand type(s) for +: 'int' and 'str'

##### sorted()

In [133]:
#sorted will return a new sorted list, create a new variable
#because it's a funcation it can accept different data types. Creates a copy

numbers = [3,1,6,5,10,-2]
print(sorted(numbers))

sorted_nums = sorted(numbers)
print(sorted_nums)

print(numbers)

names = ['Brendan', 'Jeremy', 'Jason', 'Nico']
print(sorted(names, key=len))

name = 'Brendan'

print(sorted(name))

[-2, 1, 3, 5, 6, 10]
[-2, 1, 3, 5, 6, 10]
[3, 1, 6, 5, 10, -2]
['Nico', 'Jason', 'Jeremy', 'Brendan']
['B', 'a', 'd', 'e', 'n', 'n', 'r']

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [134]:
#.sort() will sort the original list
# this is a list method() so only works on list

numbers = [3,1,6,5,10,-2]
print("numbers before sort: ", numbers)
numbers.sort() #no return value when called upon. Thus prints as None. Changes original list

print("Numbers after sort: ", numbers)
print(numbers)

numbers before sort:  [3, 1, 6, 5, 10, -2]
Numbers after sort:  [-2, 1, 3, 5, 6, 10]
[-2, 1, 3, 5, 6, 10]

##### Copying a List

In [139]:
# [:] copies a list, doesn't alter original'

numbers = [1,6,1,5,10,-2]

new_numbers = numbers[:] # with [:] now points to one object. They are different objects now =only one 5 gets appended

print(numbers)
print(new_numbers)

new_numbers.append(5) #pointing to the same object, altering the same object..adds 5 to both

print(numbers)
print(new_numbers)

print(numbers is new_numbers)

[1, 6, 1, 5, 10, -2]
[1, 6, 1, 5, 10, -2]
[1, 6, 1, 5, 10, -2]
[1, 6, 1, 5, 10, -2, 5]
False

##### Looping Through Lists

In [145]:
#Two ways to loop through a list. one is by index and the other is by value, using the "in" keyword
names = ["Han Solo", "Leia Organa", "Luke Skywalker", "Lando Calrissian", "Mace Windu"]


# looping by value ONLY
# remember name is just a variable that represents each item
for name in names:
    print(name)

# Looping by index ONLY
for i in range(len(names)):
    print(i)
    print(names[i]) #using i to index into iterable and grab the value

print('\n')

#looping by index and value
for i, name in enumerate(names):
    print(i)
    print(names)

Han Solo
Leia Organa
Luke Skywalker
Lando Calrissian
Mace Windu
0
Han Solo
1
Leia Organa
2
Luke Skywalker
3
Lando Calrissian
4
Mace Windu


0
['Han Solo', 'Leia Organa', 'Luke Skywalker', 'Lando Calrissian', 'Mace Windu']
1
['Han Solo', 'Leia Organa', 'Luke Skywalker', 'Lando Calrissian', 'Mace Windu']
2
['Han Solo', 'Leia Organa', 'Luke Skywalker', 'Lando Calrissian', 'Mace Windu']
3
['Han Solo', 'Leia Organa', 'Luke Skywalker', 'Lando Calrissian', 'Mace Windu']
4
['Han Solo', 'Leia Organa', 'Luke Skywalker', 'Lando Calrissian', 'Mace Windu']

##### 'in' keyword

In [147]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]

if 'Nate' in names:
    print('Ranger')
else:
    print("Not a Ranger")

Ranger

##### 'not in' keyword

In [148]:
names = ["Ryan", "Alex", "Tenzin", "Austin", "Jeong", "Nate"]


if "Matthew" not in names:
    print("New Ranger Squad")
else:
    print("Not a Ranger")

New Ranger Squad

##### Checking an Empty List

In [149]:
l_2 = [] #declared this empty list
l_3 = None # declared this none type value
s_1 = "" #this is also a falsey value
i_1 = 0 #this is also a falsey value

if l_2 == []: # if not 1_2 ...this is a falsey value
    print("That is an empty list. Would ya just look at it")
    
if l_3 == l_2: # 1_2 is a recognized data type and none is a nonetype. Both falsey values but not the same. 
    print("yes")
else: 
    print("no")

That is an empty list. Would ya just look at it
no

##### Removing Instances with a Loop

In [150]:
#while, remove

names = ['Bob', 'Jeremy', 'Kenai', 'Jason', 'Bob', 'Bob']

while 'Bob' in names:
    names.remove('Bob')

print(names)

['Jeremy', 'Kenai', 'Jason']

In [153]:
names = ['Bob', 'Jeremy', 'Kenai', 'Jason', 'Bob', 'Bob']
pop_index = []

for i, name in enumerate(names):
    if name == 'Bob':
        pop_index.append(i)

print(pop_index)

for index in pop_index: # index is shifting
    names.pop(index)

[0, 4, 5]

IndexError: pop index out of range

In [198]:
index = 0
while index < len(names):

    if names[index] == 'Bob':
        names.pop(index)
    else:
        index += 1 # want to stay on index

print(names)

['Jason', 'Leza']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [163]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)

print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

In [ ]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier

i, j = 0,1

while i < len(names) -1 :
    if j == len(names) - 1:
        i += 1
        j = i + 1
    else:
        j += 1

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [transform, iteration/variable, condition]
```

In [167]:
nums = [2, 4, 5, 6, 7, 8, 9, 10]
nums_squared = []

# long hand
for num in nums:
    if num % 2: # Looking for a Truesey value aka 1 ( if a # is false that modulo will be 1 if divining by 2)
        nums_squared.append(num ** 2)

print(nums_squared)

#list comprehension
                 # transform    #iterate     #conditional/filter
nums_squared_lc = [num ** 2 for num in nums if num % 2]
print(nums_squared_lc)

[25, 49, 81]
[25, 49, 81]

In [168]:
#list comprehension when we have if/else or if/elif/else statements
#long handed way
nums = [2,4,5,6,7,8,9,10]
nums_squared = []

for num in nums:
    if num % 2:
        nums_squared.append(num)
    else:
        nums_squared.append(num)

print(nums_squared)

nums_squared_lc = [num ** 2 if num % 2 else num for num in nums]
print(nums_squared_lc)

[2, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 25, 6, 49, 8, 81, 10]

In [174]:
nums = [2,4,5,6,7,8,9,10]
nums_squared = []

for num in nums:
    if num % 2:
        nums_squared.append(num ** 2)
    elif num == 6:
        nums_squared.append(num ** 3)
    else:
        nums_squared.append(num)

print(nums_squared)

# list comprehension

nums_squared_lc = [num ** 2 if num % 2 else (num ** 3 if num == 6 else num) for num in nums]
print(nums_squared_lc)

[2, 4, 25, 216, 49, 8, 81, 10]
[2, 4, 25, 216, 49, 8, 81, 10]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [178]:
#declare a tuple we utilize our paranthesis ()
tup_1 = (1,2,3)
tup_2 = 4,5,6 #another way to declare tuples

print(tup_1)
print(tup_2)

print(type(tup_1))
print(type(tup_2))

print(len(tup_2))

for num in tup_1:
    print(num)

tup_1.append(10) #no way to add to tuple with (.)dot

(1, 2, 3)
(4, 5, 6)
<class 'tuple'>
<class 'tuple'>
3
1
2
3

AttributeError: 'tuple' object has no attribute 'append'

##### sorted()

In [183]:
tup = (20,5,1,10,95,123)

print(my_tup)
my_tup = (sorted(tup))
print(type(my_tup))
print(tup)

my_tup = tuple(my_tup)
print(my_tup)

[1, 5, 10, 20, 95, 123]
<class 'list'>
(20, 5, 1, 10, 95, 123)
(1, 5, 10, 20, 95, 123)

##### Adding values to a Tuple

In [187]:
new_tup = my_tup + tup
print(new_tup)

new_tup = new_tup + (6,) # comma indicating it's a tuple and can concatinate. Needs comma.
print(new_tup)
new_tup += (7,)
print(new_tup)

(1, 5, 10, 20, 95, 123, 20, 5, 1, 10, 95, 123)
(1, 5, 10, 20, 95, 123, 20, 5, 1, 10, 95, 123, 6)
(1, 5, 10, 20, 95, 123, 20, 5, 1, 10, 95, 123, 6, 7)

In [188]:
names = ['Bob', 'Jeremy', 'Kenai', 'Jason', 'Bob', 'Bob']
print(list(enumerate(names)))

[(0, 'Bob'), (1, 'Jeremy'), (2, 'Kenai'), (3, 'Jason'), (4, 'Bob'), (5, 'Bob')]

# Exercises

## Exercise 1 <br>
<p>Using the given list, print out a filtered version of the list with only the numbers that are less than ten</b></i></p><br>

In [4]:
alist = [1,11,14,5,8,9]

blist = []

for i in alist:
    if i < 10:
        blist.append(i)

print(blist)

[1, 5, 8, 9]

In [5]:
# alist = [1,11,14,5,8,9]


# while i in alist > 10:
#         alist.remove(num)

# print(alist)

TypeError: '>' not supported between instances of 'list' and 'int'

## Exercise 2 <br>
<p>Merge and sort the two lists below<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [6]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

l_3 = sorted(l_1 + l_2)
print(l_3)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]

## Exercise 3 <br>
<p>Square every number from 1 to 15<br>

In [8]:
for i in range(1,16):
    print(i **2)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225

1

## Exercise 4<br>
<p>Using List Comprehension and the given list, print out a filtered list with 
only the names that start with the letter 'a'. 
The names in the outputted list should be title cased and have no whitespace.<br>
<p>Hint: There is an empty string at the end of the list you will need to account for.

In [20]:
names_list = ['   amy', 'Briant', 'Ryan ', ' Alex', 'steve', '  ']
#expected output = ['Amy', 'Alex']

a_list = []
for name in names_list:
    if name[0] == "A" or name[0] == "a":
        a_list.append(name.title().strip())
        
print(a_list) #seems close

[]

## Exercise 5 <br>
<p>Print all Prime numbers from 1 to 100<br>
<p>Hint: A Prime # is any # that is ONLY divisible by 1 and itself. So think how you can iterate through the list of #s from 1 to 100 and check to see if its divisible by ANY # below it.
<p>The For/Each might be very helpful for this question. 
https://www.geeksforgeeks.org/using-else-conditional-statement-with-for-loop-in-python/

In [26]:
#possibly utilize range()

for num in range(1,101):
    count = 0   
    if i > 1:
        for i in range(2,num):
            if (num % i) == 0:
                count = count + 1
                break
    else:
        print(num) #not printing :(